*{
    margin: 0;
    padding: 0;
}

body{
    margin-left: 50px;
    margin-right: 20px;
    font-family: Montserrat;
}

.title{
font-family: Montserrat;
font-size: 23px;
font-weight: 600;
line-height: 24px;
letter-spacing: 2px;
text-align: left;
}

.logo{
    height: 10;
    width: 50px;
    border-radius: 4px;
    background: linear-gradient(96.34deg, #0084FF 0%, #00FFB9 100%);

}

.news{
    margin: 10px, 10px, 10px, 10px !important ;
}


.carousel-control-prev-icon,.carousel-control-next-icon {
        background-color: rgb(0, 234, 255);
            border-radius: 50%;
            padding: 10px;
            color: blue !important;
         }
